{% extends 'customer/base.html'%} {% block content %}
<di vclass="container mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
      <h1>About us</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-1">
    <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
      <p>
        The FitnessGram™ Pacer Test is a multistage aerobic capacity test that
        progressively gets more difficult as it continues. The 20 meter pacer
        test will begin in 30 seconds. Line up at the start. The running speed
        starts slowly, but gets faster each minute after you hear this signal. A
        single lap should be completed each time you hear this sound. Remember
        to run in a straight line, and run as long as possible. The second time
        you fail to complete a lap before the sound, your test is over. The test
        will begin on the word start. On your mark, get ready, start.
      </p>
    </div>
  </div>
</div>
  {% endblock content %}
